asn1crypto==0.22.0
aws-shell==0.1.1
awscli==1.11.98
awslogs==0.8.0
blessings==1.6
boto3==1.4.4
botocore==1.5.61
cffi==1.10.0
colorama==0.3.7
configobj==5.0.6
credstash==1.13.2
cryptography==1.9
docutils==0.13.1
enum34==1.1.6
futures==3.1.1
idna==2.5
ipaddress==1.0.18
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
prompt-toolkit==1.0.14
pyasn1==0.2.3
pycparser==2.17
Pygments==2.2.0
python-dateutil==2.6.0
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
termcolor==1.1.0
wcwidth==0.1.7
